<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Thanks!</h3>
        <p class="card-text">Thanks for placing your order.</p>
        <p class="card-text">We'll ship your goods as soon as possible.</p>
    </div>
</div>
