@model ProductExtended
@{
    ViewBag.Title = "Редактировать товар";
    Layout = "_AdminLayout";
}

<div class="container-fluid w-50">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="card mt-2">
            <div class="card-body">
                <h3 class="card-title">
                    Товар
                </h3>
                <input type="hidden" asp-for="ID" value="@Model.ID" />
                <input type="hidden" asp-for="Product.ID" />
                <input type="hidden" asp-for="Product.ImageId" />
                @if (!String.IsNullOrWhiteSpace(Model.Product.ImageId))
                {
                    <img src="@Url.Action("GetImage", new { id=@Model.Product.ImageId })" class="rounded" height="200" alt="Товар" />
                }
                else
                {
                    <img src="~/images/pets.png" class="rounded" height="200" alt="Товар" />
                }
                <div class="form-group">
                    <h5 class="card-title">
                        <label asp-for="Product.Name">Название</label>
                    </h5>
                    <div><span asp-validation-for="Product.Name" class="text-danger"></span></div>
                    <input asp-for="Product.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <h5 class="card-title">
                        <label asp-for="Product.Category.ID">Категория</label>
                    </h5>
                    <input asp-for="Product.Category.ID" class="form-control" />
                </div>
                <div class="form-group">
                    <h5 class="card-title">
                        <label asp-for="Manufacturer">Производитель</label>
                    </h5>
                    <div><span asp-validation-for="Manufacturer" class="text-danger"></span></div>
                    <input asp-for="Manufacturer" class="form-control" />
                </div>
                <div class="form-group">
                    <h5 class="card-title">
                        <label asp-for="OriginCountry">Страна производства</label>
                    </h5>
                    <div><span asp-validation-for="OriginCountry" class="text-danger"></span></div>
                    <input asp-for="OriginCountry" class="form-control" />
                </div>
                <div class="form-group">
                    <h5 class="card-title"><label asp-for="Product.Description">Описание</label></h5>
                    <div><span asp-validation-for="Product.Description" class="text-danger"></span></div>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <h5 class="card-title"><label asp-for="LongDescription">Расширенное описание</label></h5>
                    <div><span asp-validation-for="LongDescription" class="text-danger"></span></div>
                    <textarea asp-for="LongDescription" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <h5 class="card-title">
                        <label asp-for="Product.Price">Цена</label>
                    </h5>
                    <div><span asp-validation-for="Product.Price" class="text-danger"></span></div>
                    <input asp-for="Product.Price" class="form-control" />
                </div>
                <div class="form-group">
                    <h5 class="card-title">
                        <label asp-for="Product.Image" class="control-label">Загрузить изображение</label>
                    </h5>
                    <input asp-for="Product.Image" type="file" name="Product.Image" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-success btn-transparent rounded-pill" type="submit">Сохранить</button>
            <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary btn-transparent rounded-pill">Отмена</a>
        </div>
        <br />
    </form>
</div>
