@model Product
@{
    ViewBag.Title = "Редактировать товар";
    Layout = "_AdminLayout";
}

<div class="container-fluid w-50">
    <form asp-action="Edit" method="post">
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">
                    Товар
                </h5>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Category"></label>
                    <div><span asp-validation-for="Category" class="text-danger"></span></div>
                    <input asp-for="Category" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <div><span asp-validation-for="Price" class="text-danger"></span></div>
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-success btn-transparent" type="submit">Сохранить</button>
            <a asp-action="Index" asp-controller="" class="btn btn-secondary btn-transparent">Отмена</a>
        </div>
        <br />
    </form>
</div>
