@model IEnumerable<string>

<div class="card text-center mt-2">
    <div class="card-body">
        <h5 class="card-title">Категории</h5>
        <a class="btn btn-block btn-light"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="">
            Все товары
        </a>

        @foreach (string category in Model)
        {
            <a class="btn btn-block
                @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-light")"
               asp-action="List"
               asp-controller="Product"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        }
    </div>
</div>